[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pandas = "*"
sqlalchemy = "*"
openpyxl = "*"
xlrd = "==1.2.0"
xlsxwriter = "*"
jinja2 = "*"

[dev-packages]

[requires]
python_version = "3.9"
